/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
body { 
    margin: 0; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography h1{
    font-size: 30px;
    font-weight: bolder;
}

.page-header{
    padding: 20px;
}

.mat-mdc-table{
    background-color: #FEFBF3;
    margin: 10px;
}

.mat-mdc-paginator{
    background-color: #FEFBF3;
}

