.table-content{
    width: 60%;
}


.table-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ::ng-deep .mat-mdc-table{
    overflow-y: scroll;
} */

.mat-mdc-table{
    background-color: #CBE4DE;
}
::ng-deep .mat-mdc-unelevated-button.mat-unthemed{
    background-color:#0E8388;
    color: #FEFBF3;
}

.container{
    height: calc(100vh - 50px); 
    background:  #FEFBF3;
    margin: 0;
    width: 100%;
}

.mat-mdc-unelevated-button.mat-unthemed{
    background-color:#0E8388;
    color: #FEFBF3;
}